{%- if product.media.size > 0 -%}
  {%- assign show_thumbnails_if_one_media = true -%}

  <div class="card">
    <div class="card__section card__section--tight">
      <div id="fpd"></div>
    </div>
  </div>
{%- endif -%}