<script defer="defer">
  $(window).load(function(){
    setTimeout(function() {
      $('ul.xo-filter.xo-filter--center').prepend('<li><a style="text-decoration:none!important;" href="/pages/espacios">&#60; Atrás</a></li>');
    }, 120);
  });
</script>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
