@mixin for-screen-exx-large {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin for-screen-extra-large {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin for-screen-large {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin for-screen-medium {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin for-screen-small {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin for-screen-extra-small {
  @media (max-width: 415px) {
    @content;
  }
}

@mixin for-screen-tiny {
  @media (max-width: 350px) {
    @content;
  }
}

@mixin alsf-section-title {
  position: relative;
  width: 100%;
  font-family: $font-family;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 52px;
  color: $color-blue;
  text-transform: uppercase;
  margin: 0 0 1rem;
  z-index: 1;
  display: flex;
  align-items: center;

  @include for-screen-medium {
    font-size: 28px;
    line-height: 32px;
  }
}

@mixin alsf-section-paragraph {
  position: relative;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
  margin: 0 0 1rem;
  z-index: 1;

  @include for-screen-medium {
    font-size: 14px;
    line-height: 20px;
  }
}