<div class="container container container--medium">
  <header class="page__header ">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">


    <p style="font-size: 20px; line-height: 24px; margin: 0 0 20px 0;">Tomando este pequeño quiz aprenderás cual es el estilo de decoración ideal para ti. También te enseñaremos como lograr ese estilo de decoración, es decir, que materiales y muebles usar, que colores y que tipo de cuadros.</p>
    
    <div id="interact-62b1e496ebfc140018adf492"></div><script>var app_62b1e496ebfc140018adf492;(function(d, t){var s=d.createElement(t),options={"appId":"62b1e496ebfc140018adf492","width":"800","height":"800","async":true,"host":"quiz.tryinteract.com","redirect_host":true, "footer":"show"};s.src='https://i.tryinteract.com/embed/app.js';s.onload=s.onreadystatechange=function(){var rs=this.readyState;if(rs)if(rs!='complete')if(rs!='loaded')return;try{app_62b1e496ebfc140018adf492=new InteractApp();app_62b1e496ebfc140018adf492.initialize(options);app_62b1e496ebfc140018adf492.display();}catch(e){}};var scr=d.getElementsByTagName(t)[0],par=scr.parentNode;par.insertBefore(s,scr);})(document,'script');</script>
    
  </div>
</div>
<style>
  #interact-62b1e496ebfc140018adf492 > iframe{
  	width: 100% !important;
  }
  #main{margin:40px 20px;}
  .page__header--centered{text-align:left !important;}
  #main .container {background:#fff !important; border-radius:3px; border:1px solid #f3f3f3; margin-top:20px; margin-bottom:20px; padding:40px;}
</style>

