<div class="container container container--medium">

  <div class="page__content rte">

    <style>
    #partners {
        display: table !important;
    }

    #partners h1,
    #partners h2,
    #partners h3 {
        display: block !important;
        clear: both !important;
    }

    #partners>.midt+h2 {
        display: block !important;
        padding-top: 40px !important;
        clear: both !important;
    }

    #partners>.midt {
        display: block !important;
        list-style-type: none !important;
        padding: 0 !important;
        clear: both !important;
    }

    #partners>.midt>li {
        width: calc(50% - 20px) !important;
        display: inline-block !important;
        float: left !important;
    }
    #partners>.midt>li::before{
      	display: none !important;
    }

    #partners>.midt>li:nth-child(2) {
        margin-left: 40px !important;
    }

    #partners>.midt>li>* {
        width: 100% !important;
    }

    #partners>.midt>li>h3 {
        padding: 0 !important;
    }

    #partners>.midt>li>img {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);
    }

    #partners > .midt:nth-child(4) {
        padding-top: 50px !important;
    }

    #partners > .midt > li > p > iframe {
        margin-left: -20px !important;
        margin-right: 20px !important;
        width: calc(100% + 40px) !important;
        margin-top: -50px;
    }

    #partners > .midt:nth-child(4) > li > p {
        overflow: hidden !important;
    }

    #partners a{
        color: #8997d3 !important;
    }

    #partners a:hover{
        text-decoration: underline !important;
    }

    .mppxu.mp-instances,
    #fb-root {
        height: 0 !important;
        width: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        opacity: 0 !important;
        display: none !important;
    }

    @media screen and (max-width: 768px) {
        #partners>.midt>li {
            width: 100% !important;
            display: block !important;
            float: unset !important;
        }

        #partners>.midt>li:nth-child(2) {
            margin-left: unset !important;
        }
        #partners > .midt:nth-child(4) > li:nth-child(2) > h2 {
            padding-top: 20px !important;
            padding-bottom: 0 !important;
        }
        #partners>.midt>li>img {
            margin-top: 20px !important;
        }
    }
      

  #main{margin:40px 20px;}
  .page__header--centered{text-align:left !important;}
  #main .container {background:#fff !important; border-radius:3px; border:1px solid #f3f3f3; margin-top:20px; margin-bottom:20px; padding:40px;}
</style>
    <div class="collection-list__section container-indent">
        <div class="containerx">
            <div id="partners">

                <header class="page__header page__header--stack">
                  <h1 style="text-align: center;">Programa de artistas asociados</h1>
                </header>
                <header class="page__header page__header--stack">
                  <h3 style="text-align: center;">Vende reproducciones de tu trabajo con Canvas Lab</h3>
                </header>

                <ul class="midt">
                    <li>
                        <h3>¿Cómo funciona?</h3>
                        <p>Si eres artista gráfico o fotógrafo, puedes afiliarte a Canvas Lab y te creamos tu página de afiliado.</p>
                        <p>Tu trabajo formará parte de nuestras colecciones, es decir, cualquier persona puede comprar tus obras.</p>
                        <p>Y cada venta de una de tus obras te genera una comisión del 10% del valor del cuadro. Nosotros nos encargamos de todo: La fabricación, envío, etc</p>
                        <p>Después de registrarte y enviarnos tus fotografías, nosotros comenzaremos con el proceso. Revisaremos las imágenes, te enviaremos el convenio para que lo firmes y crearemos tu página de artista afiliado.</p>
                        <p>Ejemplo: David Aste es uno de nuestros artistas afiliados. Puedes ver su página de afiliado dando <a href="/collections/david-aste">clic aquí</a>.</p>
                        <br>
                        <h3>Requisitos</h3>
                        <p>Para convertirte en un artista afiliado, tienes que llenar la forma de registro y cumplir con los siguientes requisitos.</p>
                        <ul>
                            <li><span>Un mínimo de 15 obras o fotografías.</span></li>
                            <li><span>Que las fotografías y obras tengan buena resolución y tamaño (4MB mínimo)</span></li>
                            <li><span>Tener cuenta bancaria en México o cuenta de PayPal (para internacionales)</span></li>
                            <li><span>Firmar el convenio que te llegará a tu correo una vez registrado.</span></li>
                        </ul>
                    </li>
                    <li>
                        <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/DA.png?v=1586283981">
                    </li>
                </ul>
                <ul class="midt">
                    <li>
                        <h2>Preguntas frecuentes</h2>
                        <h3>¿Cómo se definen los precios?</h3>
                        <p>Por lo pronto, los precios de las obras de artistas afiliados serán iguales a los de nuestras colecciones y cuadros personalizados. Es decir, los precios dependen únicamente del material y tamaño de la obra. Un Canvas de 20 x 20 cm de un artista afiliado tendrá el mismo costo que cualquiera de nuestros Canvas de 20 x 20 cm.</p>
                        <br>
                        <h3>¿Cual es la comisión?</h3>
                        <p>La comisión es de un 10% sobre el valor que el cliente pagó por la obra, Sin contar costos de envío, en caso de existir (envío express).</p>
                        <p>¿Cómo se cuando se vendió una de mis obras? Al crear tu cuenta de afiliado tendrás acceso a un dashboard especial en el que podrás ver todas tus transacciones.</p>
                        <p>Y si quieres hacer la prueba de que el dashboard realmente captura todas las ventas, tu mismo puedes hacer un pedido de tus productos y verás que se refleja en tu dashboard (Puedes cancelar tu pedido despues de comprobarlo, si quieres).</p>
                        <br>
                        <h3>¿Cómo se realiza el pago a los afiliados?</h3>
                        <p>Los pagos se liberan 30 días despues de que el cliente hace su pedido. Esto, para nosotros estar seguros de que el cliente recibió su pedido en orden y no pidió ningún cambio, o devolución.</p>
                        <p>Los pagos se hacen mensualmente a tu cuenta de banco mexicana o a tu cuenta de PayPal.</p>
                        <br>
                        <h3>¿Estoy cediendo los derechos de mis obras?</h3>
                        <p>Claro que no, las obras son tuyas. Solamente nos estas dando permiso de reproducirlas y comercializarlas. Y tu puedes revocar este permiso cuando quieras cancelando tu cuenta de afiliado. Es decir, si ya no eres afiliado, ya no vamos a vender ni distribuir tus obras.</p>
                    </li>
                    <li>
                        <h2>¡Registrate!</h2>
                        <p>Solo tienes que llenar esta forma para iniciar el proceso</p>
                        <br />
                        <a href="/pages/terminos-y-condiciones-de-uso-af" target="_blank">Ver términos y condiciones</a>
                        <br />
                        <a href="/pages/artist-agreement" target="_blank">See Artist Agreement</a>
                        <p><iframe frameborder="0" style="height: 980px; width: 99%; border: none;" src="https://forms.zohopublic.com/canvaslab/form/Afiliados/formperma/D7E9HBYoS3TtueV0KxuwPFPJ2bTk6IAQVJvPgwmhdys"></iframe></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    
  </div>
</div>