<style>
  #main .container {
    padding: 60px 60px 0 60px !important;
  }
  h1.page__title.heading.h1{
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
  }
  .beau_hero{
    width: calc(100% + 120px) !important;
    max-width: calc(100% + 120px) !important;
    margin-left: -60px !important;
    margin-top: -60px !important;
  }
  div{
    text-align:center;
  }
  div.heading{
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2em !important;
  }
  div.heading.h1 {
    font-size: 54px !important;
  }
  div.heading.h2 {
    font-size: 34px !important;
  }
  div.heading.h1.up,
  div.heading.h2.up{
    text-transform: uppercase;
  }
  img.img_content {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  .page__content.rte {
    color: var(--heading-color) !important;
    font-size: 24px;
    line-height: 1.5;
  }
  .heading.dis {
    font-size: 30px;
    height: 40px !important;
    line-height: 40px !important;
    display: block !important;
    color: #F0297C !important;
    margin: 16px auto !important;
  }
  .heading.h2.plus {
    font-size: 48px !important;
    color: #00adef;
    margin-top: 20px !important;
  }
  .bold{
    font-weight: 600 !important;
  }
  #terms{
    font-size: 14px !important;
    line-height: 1.4em !important;
    text-align: justify !important;
    color: #000 !important;
    font-weight: 300 !important;
  }

  .video-wrapper {
    width: 315px !important;
    min-height: 560px !important;
    margin: 70px auto 0 auto !important;
    max-width: 100% !important;
    height: auto !important;
  }
  
  .video-wrapper iframe {
    width: 315px !important;
    height: 560px !important;
  }
  #terms .title {
    font-size: 16px !important;
    display: block !important;
    margin-bottom: -10px !important;
  }
  @media screen and (max-width:1239px){
    #main {
      margin: 20px !important;
    }
  }
  @media screen and (max-width:800px){
    img.img_content {
      max-width: 100% !important;
    }
    div.heading.h1 {
      font-size: 40px !important;
    }
    div.heading.h2 {
      font-size: 20px !important;
    }
    .page__content.rte {
      font-size: 16px;
    }
    .heading.dis {
      font-size: 16px;
      height: 30px !important;
      line-height: 30px !important;
    }
    .heading.h2.plus {
      font-size: 34px !important;
    }
    #terms{
      font-size: 10px !important;
    }
    #terms .title {
      font-size: 12px !important;
    } 
  }
  @media screen and (max-width:520px){
    #main .container {
      padding: 20px 20px 0 20px !important;
    }
    .beau_hero{
      width: calc(100% + 40px) !important;
      max-width: calc(100% + 40px) !important;
      margin-left: -20px !important;
      margin-top: -20px !important;
    }
    header.page__header {
      margin: 15px !important;
    }
    .heading.dis {
      font-size: 16px;
      height: auto !important;
      line-height: 30px !important;
    }
  }
  @media screen and (max-width:400px){
    html body main#main {
      margin: 0 !important;
    }
    html body #main .container.container--medium {
      margin-top: 0 !important;
    }
    header.page__header {
      margin: 10px !important;
    }
    #main .container {
      padding: 10px 10px 0 10px !important;
    }
    .beau_hero{
      width: calc(100% + 20px) !important;
      max-width: calc(100% + 20px) !important;
      margin-left: -10px !important;
      margin-top: -10px !important;
    }
  }
</style>
<div class="container container--medium">
  <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Banner_testimonios.png?v=1677098123" class="beau_hero">
  <header class="page__header ">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    <div class="heading h1 up">GRABA TU UNBOXING</div>
    <br>
    <div class="heading h2">o un testimonio de cómo quedaron tus cuadros y si</div>
    <div class="heading h2">usamos tu video para nuestros anuncios o</div>
    <div class="heading h2">contenido te regalamos una giftcard con un valor</div>
    <div class="heading h2">de $500 mxn. Esta giftcard es acumulable en caso</div>
    <div class="heading h2">de adquirir algún producto con descuento previo.</div>
    <br>
    <div>Envía tu video a <a href="mailto:feliz@canvaslab.com">feliz@canvaslab.com</a> o mándalo</div>
    <div>por mensaje privado en Facebook o Instagram.</div>
    <br>
    <div>Cuando usemos tu contenido te contactaremos</div>
    <div>para hacerte llegar tu giftcard.</div>
    <br>
    <div class="heading dis">Facebook: <a href="https://facebook.com/Canvaslab.mx/">canvaslab.mx</a></div>
    <div class="heading dis">Instagram: <a href="https://www.instagram.com/canvas.lab/">@canvas.lab</a></div>
    <iframe width="315" height="560" src="https://www.youtube.com/embed/YjmJ0ClCW5s" title="Testimonios y Unboxings - Canvas Lab" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<style>
  #main{margin:40px 20px;}
  .page__header--centered{text-align:left !important;}
  #main .container {background:#fff !important; border-radius:3px; border:1px solid #f3f3f3; margin-top:20px; margin-bottom:20px; padding:40px;}
</style>