{% section 'css_gateways' %}
<style>
  .slideshow.slideshow--preserve-ratio.slideshow--edge2edge {
    background-image: url(https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Header_aluminio.jpg?v=1631317402) !important;
  }
  
  #shopify-section-ch_gal_01 #content-gateway-stf > .stf-row.one {
    margin-bottom: 20px !important;
  }
  #shopify-section-ch_gal_01 #content-gateway-stf a.stf-button {
    margin-top: -20px !important;
  }
  #shopify-section-ch_gal_01 #content-gateway-stf > .stf-row.two {
    padding-top: 40px !important;
  }
  .rte .video-wrapper {
    margin-top: unset !important;
  }
  @media screen and (max-width:640px){
    #shopify-section-highlights {
      transform: translateY(-10px);
    }
    #shopify-section-fc_gd_04 {
      transform: translateY(20px);
    }
    #shopify-section-fc_gd_04 {
      transform: translateY(20px);
      padding-bottom: 20px;
      margin-bottom: -50px;
    }
    #shopify-section-ch_gal_01 #content-gateway-stf>.stf-row.one {
      margin-bottom: 20px !important;
    }
    #shopify-section-ch_gal_01 #content-gateway-stf>.stf-row.one h3 {
      text-align: center !important;
    }
    #shopify-section-ch_gal_01 #content-gateway-stf > .stf-row.two {
      padding-top: 0px !important;
    }
    #shopify-section-ch_gal_01 #content-gateway-stf a.stf-button {
      margin-top: 20px !important;
    }
    #shopify-section-ch_gd_03 {
      transform: translateY(50px);
    }
    #shopify-section-logo-list {
      transform: translateY(30px);
      padding-bottom: 20px;
      margin-bottom: -40px;
    }
  }
</style>
{% section 'slideshow_gal' %}
{% section 'ch_gd_01' %}
{% section 'collection-list' %}
{% section 'highlights' %}
{% section 'fc_gd_04' %}
{% section 'it_gd_01' %}
{% comment %}{% section 'it_gal_01' %}{% endcomment %}
{% section 'fc_gal_00' %}
{% section 'ch_gal_01' %}
{% section 'ch_gd_03' %}
{% section 'logo-list' %}
{% section 'fc_novedades' %}
{% section 'ch_gc_02' %}

{% section 'js_gateways' %}

<script>
  $(window).load(function(){
  	$('#block-53c06205-d96f-4dff-b41d-6fc75ee11b73 > div > div.slideshow__content-wrapper > div > a').before('<a style="margin-right:20px;" href="https://canvaslab.com/collections" class="slideshow__button button">Ver Colecciones</a>');
  });

</script>