<div class="container container--medium">
  <header class="page__header " style="margin:0px !important;">
    <h1 class="page__title heading h1">Cuadros para cada ocasión</h1>
  </header>

  <div class="page__content rte">
    {{ page.content }}
  </div>
  <ul class="stk_gallery_intentions">
    <li>
      <a href="/collections/intencion-cuadros-personalizados-de-amor">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Thumbnails_intencion_Amor_Cuarteto-pichi.jpg?v=1653603117"
        >
        <h4>Amor</h4>
      </a>
    </li>
    <li>
      <a href="/collections/intencion-cuadros-personalizados-de-aniversarios">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Thumbnail_intencion_Aniversario_140x70-pichi.jpg?v=1653603117"
        >
        <h4>Aniversarios</h4>
      </a>
    </li>
    <li>
      <a href="/collections/intencion-cuadros-personalizados-para-mama-y-papa">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Thumbnail_intencion_Mama_y_Papa_2_Layout_Rembrandt-pichi.jpg?v=1653603117"
        >
        <h4>Mamá y Papá</h4>
      </a>
    </li>
    <li>
      <a href="/collections/intencion-cuadros-personalizados-de-bebes-e-hijos">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Thumbnail_intencion_Bebes_e_hijos_Collage_de_8-pichi.jpg?v=1653603117"
        >
        <h4>Bebes e hijos</h4>
      </a>
    </li>
    <li>
      <a href="/collections/intencion-cuadros-personalizados-de-mascotas">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Thumbnail_intencion_Mascotas_Instagram-pichi.jpg?v=1653603117"
        >
        <h4>Mascotas</h4>
      </a>
    </li>
    <li>
      <a href="/collections/intencion-cuadros-personalizados-de-tus-pasiones">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Thumbnail_intencion_tus_pasiones_Layout_Caravaggio-pichi.jpg?v=1653603117"
        >
        <h4>Tus pasiones</h4>
      </a>
    </li>
  </ul>

  <br>

  <h2>Materiales</h2>
  <ul class="stk_gallery_material">
    <!-- Piel Normal -->
    <!--
      <li class="{%- if collection.handle contains "todos" -%}stk_active{%- endif -%}">
        <a href="">
        	<img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/todos-pichi_1x_640bd0c1-6ab8-4c19-92cf-cfcc9b4ecaf0.jpg?v=1652364774" />
        	Todos
        </a>
      </li>
    -->
    <li class="{%- if collection.handle contains "canvas" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/canvas-personalizados">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Lienzos-personalizados-Canvas-Lab.jpg?v=1594687620"
        >
        <h4>Canvas</h4>
      </a>
    </li>
    <li class="{%- if collection.handle contains "enmarcados" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/enmarcados-personalizados">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Enmarcados.jpg?v=1649374942"
        >
        <h4>Enmarcado</h4>
      </a>
    </li>
    <li class="{%- if collection.handle contains "portarretratos" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/portarretratos-personalizados">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/A323.png?v=1674248198"
        >
        <h4>Portarretratos</h4>
      </a>
    </li>
    <li class="{%- if collection.handle contains "portarretratos" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/kits-de-collage-personalizados">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Kits-de-Collage-Personalizados__-__Featured.png?v=1695254586"
        >
        <h4>Kits Personalizados</h4>
      </a>
    </li>
  </ul>
  <ul class="stk_gallery_materialSecond">
    <li class="liFirst {%- if collection.handle contains "pixsets" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/pixsets">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/PixSets-personalizados-Canvas-Lab.jpg?v=1594687916"
        >
        <h4>Pixset</h4>
      </a>
    </li>
    <li class="liSecond {%- if collection.handle contains "aluminio" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/aluminios-personalizados">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Aluminios-impresos-personalizados-Canvas-Lab.jpg?v=1594687821"
        >
        <h4>Aluminio</h4>
      </a>
    </li>
    <li class="liThird {%- if collection.handle contains "acrilico" -%}stk_active{%- endif -%}">
      <a href="https://canvaslab.com/collections/acrilicos-personalizados">
        <img
          loading="lazy"
          width="auto"
          height="100%"
          src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Acrilicos-impresos-personalizados-Canvas-Lab.jpg?v=1594687683"
        >
        <h4>Acrílico</h4>
      </a>
    </li>
  </ul>
</div>

<style>
  .page__content {
    margin: 0px !important;
  }
  .page__header--centered {
    text-align: left !important;
  }
  #main {
    margin: 40px 20px;
  }
  #main .container {
    background: #fff !important;
    border-radius: 3px;
    border: 1px solid #f3f3f3;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
  }
  h2 {
    color: #1e2d7d;
    font-size: 24px !important;
    font-weight: bold;
    margin-bottom: 0px !important;
  }

  /*
  .stk_gallery_intentions a{text-decoration:none !important; padding:0px !important;}
  .stk_gallery_intentions .rte ul li, .rte ol li{position:unset !important;} */
  .stk_active {
    border: 1px solid #00adef;
    background: #00adef;
  }
  .stk_gallery_material li {
    padding: 10px;
    text-align: center;
  }
  .stk_gallery_materialSecond li {
    padding: 10px;
    text-align: center;
    width: 25%;
  }

  @media only screen and (max-width: 599px) {
    #main {
      background: #ffffff !important;
      margin: 0px !important;
      margin-top: -20px !important;
      padding: 20px 20px !important;
    }
    #main .container {
      border: 0px !important;
    }
    #main .container {
      padding: 0px !important;
    }

    .stk_gallery_intentions {
      list-style: none !important;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .stk_gallery_intentions img {
      margin-bottom: 0px !important;
      width: 100%;
      max-width: 280px !important;
      padding-top: 0px !important;
      margin-top: 0px !important;
    }
    h4 {
      display: block !important;
      text-align: center !important;
      color: #000 !important;
      margin: 0 !important;
      padding: 5px 0 !important;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px !important;
    }

    /*Materiales*/
    .stk_gallery_material {
      list-style: none !important;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .stk_gallery_material img {
      width: 100%;
    }
    .stk_gallery_materialSecond {
      list-style: none !important;
      display: flex;
      grid-template-columns: 1fr 1fr;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .stk_gallery_materialSecond img {
      width: 100%;
    }
    .stk_gallery_intentions img {
      width: 100%;
    }

    .stk_gallery_intentions li {
      padding: 6px !important;
    }
    .stk_gallery_material li {
      padding: 6px !important;
    }
    .stk_gallery_materialSecond li {
      padding: 6px !important;
      width: 50%;
    }
  }
  @media only screen and (min-width: 600px) {
    .stk_gallery_intentions {
      list-style: none !important;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      /*max-width:990px !important;*/
    }
    .stk_gallery_intentions img {
      margin-bottom: 0px !important;
      width: 100%;
      padding-top: 0px !important;
      margin-top: 0px !important;
      padding: 10px !important;
    }
    h4 {
      display: block !important;
      text-align: center !important;
      color: #000 !important;
      margin: 0 !important;
      padding: 5px 0 !important;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px !important;
    }

    @media screen and (max-width: 1440px) {
      h4 {
        font-size: 1.2vw !important;
      }
    }

    /*Materiales*/
    .stk_gallery_material {
      list-style: none !important;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      /* max-width:990px !important;
         margin:0px auto;*/
    }
    .stk_gallery_materialSecond {
      list-style: none !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
