<style>
  #main .container {
    padding: 60px 60px 0 60px !important;
  }
  h1.page__title.heading.h1{
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
  }
  .beau_hero{
    width: calc(100% + 120px) !important;
    max-width: calc(100% + 120px) !important;
    margin-left: -60px !important;
    margin-top: -60px !important;
  }
  div.heading{
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2em !important;
  }
  div.heading.h1 {
    font-size: 54px !important;
  }
  div.heading.h2 {
    font-size: 34px !important;
  }
  div.heading.h1.up,
  div.heading.h2.up{
    text-transform: uppercase;
  }
  img.img_content {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  img.img_content.dos {
    width: 500px !important;
    min-width: 50% !important;
    max-width: 100% !important;
  }
  img.img_content.tres {
    width: 300px !important;
    max-width: 100% !important;
  }
  .page__content.rte {
    color: var(--heading-color) !important;
    font-size: 24px;
    line-height: 1.5;
  }
  .heading.dis {
    font-size: 30px;
    height: 40px !important;
    line-height: 40px !important;
    display: block !important;
    color: #ff0000 !important;
    letter-spacing: 6px;
    margin: 16px auto !important;
  }
  .heading.h2.plus {
    font-size: 48px !important;
    color: #00adef;
    margin-top: 20px !important;
  }
  .bold{
    font-weight: 600 !important;
  }
  #terms{
    font-size: 14px !important;
    line-height: 1.4em !important;
    text-align: justify !important;
    color: #000 !important;
    font-weight: 300 !important;
  }
  #terms .title {
    font-size: 16px !important;
    display: block !important;
    margin-bottom: -10px !important;
  }
  @media screen and (max-width:1239px){
    #main {
      margin: 20px !important;
    }
  }
  @media screen and (max-width:800px){
    img.img_content {
      max-width: 100% !important;
    }
    div.heading.h1 {
      font-size: 40px !important;
    }
    div.heading.h2 {
      font-size: 20px !important;
    }
    .page__content.rte {
      font-size: 16px;
    }
    .heading.dis {
      font-size: 16px;
      height: 30px !important;
      line-height: 30px !important;
      letter-spacing: 4px;
    }
    .heading.h2.plus {
      font-size: 34px !important;
    }
    #terms{
      font-size: 10px !important;
    }
    #terms .title {
      font-size: 12px !important;
    } 
  }
  @media screen and (max-width:520px){
    #main .container {
      padding: 20px 20px 0 20px !important;
    }
    .beau_hero{
      width: calc(100% + 40px) !important;
      max-width: calc(100% + 40px) !important;
      margin-left: -20px !important;
      margin-top: -20px !important;
    }
    header.page__header {
      margin: 15px !important;
    }
    .heading.dis {
      font-size: 16px;
      height: auto !important;
      line-height: 30px !important;
      letter-spacing: 3px;
    }
  }
  @media screen and (max-width:400px){
    html body main#main {
      margin: 0 !important;
    }
    html body #main .container.container--medium {
      margin-top: 0 !important;
    }
    header.page__header {
      margin: 10px !important;
    }
    #main .container {
      padding: 10px 10px 0 10px !important;
    }
    .beau_hero{
      width: calc(100% + 20px) !important;
      max-width: calc(100% + 20px) !important;
      margin-left: -10px !important;
      margin-top: -10px !important;
    }
  }
</style>
<div class="container container--medium">
  <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Graficos-Homepage-Banner-Landing-page.png?v=1685039355" class="beau_hero">
  <header class="page__header ">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    <div class="heading h1 up">Hasta 50% de descuento</div>
    <div class="heading h1 up">+12 Meses Sin Intereses</div>
    <div class="heading h1 up">y hasta 25% de cashback</div>
    <br>
    <div class="heading dis">HASTA EL 6 DE JUNIO</div>
    <br>
    <div class="heading h2">PAGA CON TU CUENTA MERCADOPAGO</div>
    <div class="heading h2">y obtén 12 meses sin intereses</div>
    <div class="heading h2">y hasta 25% de cashback ADICIONAL</div>
    <div class="heading h2">pagando con los siguientes bancos en tu cuenta</div>
    <div class="heading h2">Mercadopago</div>
    <br>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Bancos_13ec9de0-6b3a-469b-8ed8-7eed5d0effb1.png?v=1685039770" class="img_content dos"/>
    <br>
    <br>
    <div class="heading dis">DESCUENTO DE CANVAS LAB</div>
    <div class="heading h1 up">HASTA 50% DE DESCUENTO</div>
    <div class="heading h2 plus">+</div>
    <div class="heading dis">DESCUENTO Y CASHBACK CON</div>
    <div class="heading dis">CUENTA MERCADO PAGO</div>
    <div class="heading h1 up">12 MESES SIN INTERESES</div>
    <div class="heading h2 plus">ADEMÁS</div>
    <div class="heading dis">BONIFICACIÓN EN LOS SIGUIENTES BANCOS</div>
    <div class="heading dis">CON TU CUENTA MERCADOPAGO</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/mp-hotsale-2023-sellers-durante-cupon_1200x700_4242d6fc-9521-4c48-a838-62e6b72f9844.jpg?v=1685040613" class="img_content"/>
    <a href="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Promociones_Bancarias_Hot_Sale_2023_MP.pdf?v=1685049510" download><small> Términos y condiciones de las instituciones bancarias participantes.</small></a>
    <br>
    <br>
    </br>
    <div class="bold">Pasos para aprovechar el descuento de Mercado Pago</div>
    <div>1) En nuestro Checkout, elige pago con Mercado Pago.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_1_551b1e70-fd62-476b-a0ac-45c8325ffe45.png?v=1668475014" class="img_content"/>
    <br>
    <div>2) Después, en las opciones de pago elige la opción para pagar con tu tarjeta y registrala.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_2_e6c87e3a-f2b0-4a74-9eb0-4b5688db2bc9.png?v=1685041519" alt="" class="img_content dos"/>
    <br>
    <div>3) Inicia sesión con tu cuenta Mercadopago.</div>
    <br>
    <div>*Si no tienes una cuenta de Mercado Pago puedes crear una. (El proceso de aprobación de cuenta puede tomar hasta un día)</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_3_0b1e2836-08c4-479e-98df-265a60755d37.png?v=1685041675" class="img_content dos"/>
    <br>
    <div>4) Por último, elige tu forma de pago con los bancos seleccionados.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_4_30ff55f6-a9dd-47ba-a4df-d6639ae617b8.png?v=1685041833" class="img_content dos"/>
    <br>
    <div>Da click en el botón de pagar para completar tu compra.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_final.png?v=1685041915" class="img_content tres"/>
    <br>
    <br/>
    <div id="terms">
      <span class="bold title">Términos y Condiciones</span>
      <br/>
      <span class="bold title">CUPÓN HOTMP23:</span>
      <br/>
      <p>15% OFF TOPE $1,500 MXN Mercado Pago otorgará a los usuarios (los “Usuarios”) un cupón de descuento (el “Beneficio”) del 15% (quince por ciento) con un tope de $1,500.00 M.N. (Mil Quinientos pesos 00/100 Moneda Nacional) insertando el código: HOTMP23. El Beneficio es válido únicamente en tarjetas de crédito Citibanamex, HSBC, Santander, Invex y AMEX . Así como compras hechas con el dinero en cuenta de Mercado Pago o con Mercado Crédito. Beneficio válido desde las 00:00 horas (hora del centro de México) del 29 de mayo de 2023 hasta las 23:59 horas (hora del centro de México) al 6 de junio de 2023 o hasta agotar existencias, para compras abonadas por medio de la plataforma de Mercado Pago (www.mercadopago.com.mx) operada por MP Agregador, S. de R.L. de C.V. (“Mercado Pago Standard”). Beneficio válido únicamente ingresando a tu cuenta de Mercado Pago al momento de realizar el pago e ingresando el código HOTMP23 en forma previa al pago, con un tope máximo de $1,500.00 M.N. (Mil Quinientos pesos 00/100 Moneda Nacional) en compras mínimas de $1,000.00 M.N. (Mil pesos 00/100 Moneda Nacional). Válido 3 (tres) cupones por Usuario excepto HSBC válido 1 (un) cupón por usuario. Mercado Pago no es propietario de los artículos ofrecidos, adquiridos o enajenados por los Usuarios, no tiene posesión de ellos ni los ofrece en venta. Mercado Pago no es responsable por la existencia, calidad, cantidad, estado o integridad de dichos bienes, por la legitimidad de la operación, ni por el efectivo cumplimiento de las obligaciones asumidas por el vendedor o el comprador.</p>
      <br>
    </div>
  </div>
</div>

<style>
  #main{margin:40px 20px;}
  .page__header--centered{text-align:left !important;}
  #main .container {background:#fff !important; border-radius:3px; border:1px solid #f3f3f3; margin-top:20px; margin-bottom:20px; padding:40px;}
</style>