<style>
  #main .container {
    padding: 60px 60px 0 60px !important;
  }
  h1.page__title.heading.h1{
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
  }
  .beau_hero{
    width: calc(100% + 120px) !important;
    max-width: calc(100% + 120px) !important;
    margin-left: -60px !important;
    margin-top: -60px !important;
  }
  div.heading{
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1.2em !important;
  }
  div.heading.h1 {
    font-size: 54px !important;
  }
  div.heading.h2 {
    font-size: 34px !important;
  }
  div.heading.h1.up,
  div.heading.h2.up{
    text-transform: uppercase;
  }
  img.img_content {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  .page__content.rte {
    color: var(--heading-color) !important;
    font-size: 24px;
    line-height: 1.5;
  }
  .heading.dis {
    font-size: 30px;
    height: 40px !important;
    line-height: 40px !important;
    display: block !important;
    color: #ff0000 !important;
    letter-spacing: 6px;
    margin: 16px auto !important;
  }
  .heading.h2.plus {
    font-size: 48px !important;
    color: #00adef;
    margin-top: 20px !important;
  }
  .bold{
    font-weight: 600 !important;
  }
  #terms{
    font-size: 14px !important;
    line-height: 1.4em !important;
    text-align: justify !important;
    color: #000 !important;
    font-weight: 300 !important;
  }
  #terms .title {
    font-size: 16px !important;
    display: block !important;
    margin-bottom: -10px !important;
  }
  @media screen and (max-width:1239px){
    #main {
      margin: 20px !important;
    }
  }
  @media screen and (max-width:800px){
    img.img_content {
      max-width: 100% !important;
    }
    div.heading.h1 {
      font-size: 40px !important;
    }
    div.heading.h2 {
      font-size: 20px !important;
    }
    .page__content.rte {
      font-size: 16px;
    }
    .heading.dis {
      font-size: 16px;
      height: 30px !important;
      line-height: 30px !important;
      letter-spacing: 4px;
    }
    .heading.h2.plus {
      font-size: 34px !important;
    }
    #terms{
      font-size: 10px !important;
    }
    #terms .title {
      font-size: 12px !important;
    } 
  }
  @media screen and (max-width:520px){
    #main .container {
      padding: 20px 20px 0 20px !important;
    }
    .beau_hero{
      width: calc(100% + 40px) !important;
      max-width: calc(100% + 40px) !important;
      margin-left: -20px !important;
      margin-top: -20px !important;
    }
    header.page__header {
      margin: 15px !important;
    }
    .heading.dis {
      font-size: 16px;
      height: auto !important;
      line-height: 30px !important;
      letter-spacing: 3px;
    }
  }
  @media screen and (max-width:400px){
    html body main#main {
      margin: 0 !important;
    }
    html body #main .container.container--medium {
      margin-top: 0 !important;
    }
    header.page__header {
      margin: 10px !important;
    }
    #main .container {
      padding: 10px 10px 0 10px !important;
    }
    .beau_hero{
      width: calc(100% + 20px) !important;
      max-width: calc(100% + 20px) !important;
      margin-left: -10px !important;
      margin-top: -10px !important;
    }
  }
</style>
<div class="container container--medium">
  <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Mercado_Pago_Banner_Principal.png?v=1664558590" class="beau_hero">
  <header class="page__header ">
    <h1 class="page__title heading h1">{{ page.title }}</h1>
  </header>

  <div class="page__content rte">
    <div class="heading h1 up">40% OFF en toda la tienda</div>
    <div class="heading h2 up">Paga con tu cuenta mercadopago</div>
    <div class="heading h2">y obtén un 15% de descuento ADICIONAL</div>
    <div class="heading h2">+ Hasta 15% en Cashback</div>
    <div class="heading h2">pagando con los siguientes bancos en tu cuenta</div>
    <div class="heading h2">Mercadopago</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Bancos.png?v=1664558590" class="img_content"/>
    <br>
    <div class="heading dis">DESCUENTO DE CANVAS LAB</div>
    <div class="heading h1 up">40% OFF en toda la tienda</div>
    <div class="heading h2 plus">+</div>
    <div class="heading dis">DESCUENTO DE MERCADO PAGO</div>
    <div class="bold">10% de Cashback para los primeros 400 compradores de cada día (usando tu cuenta de Mercado Pago) Si tu compra es con Mercado Crédito, obtendrás un 15% de Cashback.</div>
    <div>* No hay un monto mínimo de compra. Monto máximo de cashback es de $1,000.</div>
    <div>* El cashback del 10% o 15% se realiza 24 horas después de la compra a la cuenta de Mercado Pago del comprador.</div>
    <div class="heading h2 plus">+</div>
    <div class="heading dis">DESCUENTO DE LOS BANCOS</div>
    <ul>
      <li><span class="bold">HSBC:</span> 15% de descuento topado a $1,500 con un monto mínimo de $1,500 en compras con tarjetas de crédito.</li>
      <li><span class="bold">Citibanamex:</span> 15% de descuento topado a $1,500 con un monto mínimo de $1,500 en compras con tarjetas de crédito.</li>
      <li><span class="bold">Banorte:</span> 15% de descuento topado a $1,500 con un monto mínimo de $1,500 en compras con tarjetas de crédito y débito.</li>
    </ul>
    <div class="bold">Los usuarios pueden beneficiarse de todas las promociones al mismo tiempo.</div>
    <br>
    <div class="bold">Pasos para aprovechar el descuento de Mercado Pago</div>
    <div>1) En nuestro Checkout, elige pago con Mercado Pago.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_1.png?v=1664558590" class="img_content"/>
    <br>
    <div>2) Después, en las opciones de pago elige la opción para pagar con tu cuenta de Mercado Pago.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_2.png?v=1664558590" alt="" class="img_content"/>
    <br>
    <div>Si no tienes una cuenta de Mercado Pago puedes crear una.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_2b.png?v=1664558590" class="img_content"/>
    <br>
    <div>3) Por último, elige tu forma de pago con los bancos seleccionados y puedes terminar tu compra.</div>
    <br>
    <img loading="lazy" width="auto" height="100%" src="https://cdn.shopify.com/s/files/1/0258/6276/6677/files/Paso_3.png?v=1664558590" class="img_content"/>
    <br>
    <br/>
    <div id="terms">
      <span class="bold title">Términos y Condiciones</span>
      <br/>
      <p>Términos y Condiciones de la campaña “Momentos Azules”: “Momentos Azules” es una promoción (la “Promoción”) válida en los Estados Unidos Mexicanos, organizada por MP Agregador, S. de R.L. de C.V. (en adelante, “Mercado Pago Standard”) o por cualquier otra sociedad del grupo que en su momento determine Mercado Pago Standard, con Registro Federal de Contribuyentes MAG2105031W3, con domicilio en Av. Insurgentes Sur 1602, Piso 9, Colonia Crédito Constructor, Alcaldía Benito Juárez, Ciudad de México, México, C.P. 03940, sociedad dedicada a la administración de la aplicación y plataforma comercialmente conocida como Mercado Pago Standard, disponible en el sitio web www.mercadopago.com.mx (el “Sitio Web”). La participación en esta Promoción implica la aceptación de los presentes términos y condiciones (“T&amp;C Momentos Azules”), los Términos y Condiciones de Mercado Pago Standard disponibles en https://www.mercadopago.com.mx/ayuda/terminos-y-condiciones_299 (los “Términos y Condiciones de Mercado Pago Standard”), de los Términos y Condiciones de Mercado Pago Wallet, disponibles en https://www.mercadopago.com.mx/ayuda/17594 (los “Términos y Condiciones de Mercado Pago Wallet”) y las Condiciones Generales del otorgamiento de Préstamos por parte de Mercado Lending S.A. de C.V. (“Mercado Crédito”) 1. Vigencia de la Promoción. La Promoción iniciará a las 09:00 horas del 03 de octubre de 2022 hasta las 23:59 horas del 10 de octubre de 2022, en el entendido que durante el presente plazo (“Plazo de la Promoción”) Mercado Pago Standard otorgará a los usuarios que hayan cumplido con estos T&amp;C Momentos Azules, el beneficio (el “Beneficio”) que se indica más adelante. Ningún Beneficio podrá hacerse efectivo antes o después del Plazo de la Promoción. 2. Establecimientos participantes. Para efectos de estos T&amp;C Momentos Azules, se entenderá como Establecimientos Participantes a aquellos comercios que se encuentren registrados en la landing page de Mercado Pago Standard, disponible en https://promociones.mercadopago.com.mx/ 3. Participantes de la Promoción. Los requisitos para participar en la Promoción son, además de cumplir con las demás condiciones previstas en los presentes T&amp;C Momentos Azules y los enunciados en el apartado 1., se requiere: (i) ser una persona física mayor de dieciocho (18) años de edad; (ii) residir y tener su domicilio en los Estados Unidos Mexicanos; (iii) estar debidamente registrado como usuario (el “Participante” o “Participantes””) de una cuenta de Mercado Pago Standard (la “Cuenta Mercado Pago Standard”) o en su caso, una cuenta de Mercado Pago Wallet (la “Cuenta Mercado Pago Wallet” ”), y; (iv) que, en su caso, cuenten con un crédito aprobado por parte de Mercado Lending, S.A. de C.V. (“Mercado Crédito”) que solamente podrá utilizar si tiene aperturada una Cuenta Mercado Pago Wallet. 4. Mecánica y Beneficio Mercado Pago Standard otorgará un Beneficio a los primeros 400 (cuatrocientos) Participantes que en cumplimiento con los presentes T&amp;C Momentos Azules, efectúe un pago en los Establecimientos Participantes mediante Mercado Pago Standard. El Beneficio consistirá en lo siguiente: Un abono del 10% (diez por ciento) del total que haya pagado por el bien o servicio que haya adquirido del Establecimiento Participante, a la Cuenta Mercado Pago Wallet del Participante, a través de los medios de pago habilitados en su Cuenta Mercado Pago Standard; o Un abono del 15% (quince por ciento) del total que haya pagado por el bien o servicio que haya adquirido del Establecimiento Participante, a la Cuenta Mercado Pago Wallet del Participante, únicamente cuando haya pagado con los fondos del crédito aprobado por parte de Mercado Crédito. El Beneficio se otorgará a las 48 (cuarenta y ocho) horas posteriores a la adquisición del bien o servicio que haya efectuado el Participante. El Participante podrá obtener en más de una ocasión el Beneficio en los Establecimientos Participantes hasta que los abonos que reciba en su conjunto por parte de Mercardo Pago Standard, lleguen al equivalente de $1,000.00 M.N. (mil pesos 00/100 Moneda Nacional). Una vez que la acumulación de Beneficios supere dichos $1,000.00 M.N. (mil pesos 00/100 Moneda Nacional), el Participante no podrá obtener más Beneficios. El Beneficio de la presente Promoción será acumulable con cupones de descuento Bancarios y los cupones denominados “Bomba”. Sin embargo, los cupones denominados “Bomba” y Bancarios no serán acumulables entre sí para esta Promoción, el Participante podrá utilizar solamente uno de ellos, pero no ambos al mismo tiempo. 5. Condiciones Generales Si en el momento de efectuar el pago se detecta saldo insuficiente o que el crédito se encuentre en fase de pre-aprobación por parte de Mercado Crédito y éste no le autorice a los Participantes ya habiendo iniciado la Vigencia de la Promoción, independientemente del motivo del rechazo, los Participantes manifiestan y reconocen que Mercado Pago Standard no podrá realizar el cargo y por ende, no podrá ser aplicado el Beneficio y no podrá reclamarlo a Mercado Pago Standard de ninguna forma, ni solicitar otro beneficio. El Beneficio no podrá ser cambiado o solicitado en efectivo. Los Participantes aceptan que únicamente podrán aplicar el Beneficio durante el Plazo de la Promoción. El Participante no podrá modificar el Beneficio, así como tampoco podrá ser aplicado en establecimiento distinto al que se encuentra habilitado e identificado en la landing page de Mercado Pago Standard, disponible en https://promociones.mercadopago.com.mx/. Mercado Pago Standard y/o Mercado Pago Wallet no garantizan el acceso y el uso continuo o ininterrumpido de la Cuenta de Mercado Pago Standard y los servicios de pago. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de internet, interrupción del sistema en los links o las herramientas de pago o por cualquier circunstancia ajena a Mercado Pago Standard y/o Mercado Pago Wallet y/o los Establecimientos Participantes. Los Participantes no podrán responsabilizar a Mercado Pago Standard y/o Mercado Pago Wallet, ni a ninguno de los Establecimientos Participantes o exigir reembolso alguno, en virtud de los perjuicios resultantes de las dificultades mencionadas, así como por cualquier otro tipo de daño originado por tales efectos. Mercado Pago Standard se reserva el derecho de, en cualquier momento, alterar o terminar la Promoción anticipadamente, actualizar o retirar de circulación su respectiva divulgación. Además, estos T&amp;C pueden modificarse por Mercado Pago Standard en cualquier momento, sin previo aviso. Si algún Participante no está de acuerdo con los cambios realizados, éste tendrá derecho a dejar de participar en la Promoción. 6. Uso de datos personales Los datos personales de los Participantes serán utilizados y conservados por Mercado Pago Standard de conformidad con lo dispuesto en las Políticas de Privacidad de Mercado Libre disponibles en https://www.mercadolibre.com.mx/ayuda/Aviso-de-privacidad_1167. 7. Jurisdicción y Ley aplicable Para cualquier controversia que pudiere surgir con relación a la Promoción y a estos T&amp;C, los Participantes se someten a la aplicación de las leyes vigentes en la Ciudad de México, México, y a la jurisdicción de la Ciudad de México, México, con renuncia a cualquier otro fuero y jurisdicción que pudiera corresponder.</p>
    </div>
  </div>
</div>

<style>
  #main{margin:40px 20px;}
  .page__header--centered{text-align:left !important;}
  #main .container {background:#fff !important; border-radius:3px; border:1px solid #f3f3f3; margin-top:20px; margin-bottom:20px; padding:40px;}
</style>