<div class="">
  <div class="page__content rte">
   <div id="iframe_container">
     <div style="margin:0 auto;" class="pxFormGenerator" id="LR4pbX8RWyd7eZDOBE3cqQ"></div>
   </div>
  </div>
</div>
<style>
  #main{margin:40px 20px;}
  .page__header--centered{text-align:left !important;}
  #main .container {background:#fff !important; border-radius:3px; border:1px solid #f3f3f3; margin-top:20px; margin-bottom:20px; padding:40px;}
  .form_title_div{
    color: #2aadf0;
  }
</style>